 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

/* 3단 레이아웃 css */
header *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page{
  width: 1000px;
  margin: 0 auto;
}
header,nav,footer{
  height: 50px;
  border: 1px solid red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1.2em;
}
main{
  display: flex;
  background-color: #eee;
}
main>aside{
  width: 100px;
  height: 200px;
  background-color: lightseagreen;
}
main>section{
  width: 800px;
  min-height: 600px;
  background-color: white;
}

/*pagination flex*/
#pagination{
  display: flex;
  justify-content: center;
}

/*read css*/
#contact-list{
  list-style: none;
  position: relative;
  left: 150px;
  top: 110px;
  text-align:center;
  border-style: double;
  border-color: #eee;
  width: 500px;
}
#photo{
  width: 200px;
  margin-bottom: 10px;
  position: relative;
  right: 120px;
  top: 75px;
}
#name,#address,#tel{
  text-align: left;
  font-size: 25px;
  margin-bottom: 10px;
  position: relative;
  left: 250px;
  bottom: 100px;
}